<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ControladorServlet</servlet-name>
    <servlet-class>ces3.controladores.ControladorServlet</servlet-class>
  </servlet>

  <!-- Map the servlet to a URL pattern -->
  <servlet-mapping>
    <servlet-name>ControladorServlet</servlet-name>
    <url-pattern>/ControladorServlet</url-pattern>
  </servlet-mapping>
</web-app>

